# Next.js build output
.next
out

# Dependency directories
node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Production
/build

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Backup folders
backup/

# macOS
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db